[2018-09-17 01:56] dhixsingh opened #1 "Move evacuation code from BDI-MATSim integration to EES application"
_From @dhixsingh on August 31, 2018 2:56_

The code in the BDI-MATSim integration in `integrations/bdi-matsim/src/*` has several classes that are related to the bushfire evacuation modelling and should be moved to the respective java package in `examples/bushfire/src/main/java/io/github/agentsoz/ees/*`.

The BDI-MATSim integration is meant to stay application independent.

_Copied from original is

[2018-09-17 01:57] dhixsingh opened #2 "Double evacuations"
_From @osbornejr on August 26, 2018 13:23_

As of a92bd9afb606d50e14f06619b787cbcb29af815d, the agents in SurfCoastShirePopulationSubgroupsSampleTest show strange behaviour when the disruptions file [scenario_disruptions.xml](https://github.com/agentsoz/bdi-abm-integration/blob/ees/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_disruptions.json) is turned on.

Fo

[2018-09-17 02:01] dhixsingh opened #3 "Agents skipping initial response"
_From @osbornejr on August 24, 2018 2:41_

When testing behaviours I noticed that a resident with a dependent who had both their thresholds met simultaneously could potentially skip the `INITIAL_RESPONSE` step and jump straight to the `ActNow` plan options. This is a major issue because it means that the resident ignores their dependent and just evacuates.

To reproduce, see that as of 4ba84c50571

[2018-09-17 02:01] dhixsingh commented on #3
Haven't found instances of this in the large 500 agents test `SurfCoastShirePopulationSubgroupsTest`. The closest I got was this where it seems that `ActNow` is happening before `InitialResponse` but it is not (just logging is out of order in that timestep):

[code]

[2018-09-17 02:01] dhixsingh commented on #3
MIght be this is no longer an issue but leaving open for now.

[2018-09-17 02:01] dhixsingh commented on #3
_From @osbornejr on August 26, 2018 4:7_

Do you reproduce the output I posted above on the referenced commit? Even if it is unlikely, it is worrying that it can happen-- whatever process is going on the result is an agent ignoring their dependents.

[2018-09-17 02:01] dhixsingh commented on #3
I just tried this. In that commit the random seed was not getting set correctly so the results are non-deterministic. I ran the test four times and got four slightly different logs but `Resident 3` went to the dependents each time.  Can't say I can reproduce this one. Can you @osbornejr?

[2018-09-17 02:01] dhixsingh commented on #3
_From @osbornejr on August 26, 2018 12:33_

As of latest commit, am still getting this behaviour. Hard to pin down though because it doesn't happen every time or with the same resident every time. Here is a read out of resident 4 on one run:

`Time -0001 Resident 4         : memory:-1:BELIEVED:DEPENDENTS_INFO:(Dependent, coords=778707.91,5745384.49), last visited at time=-1.0
Time 45002 Resident 4

[2018-09-17 02:01] dhixsingh commented on #3
Try disabling congestion rerouting as that causes some non determinism too. I will look again too.

[2018-09-17 02:01] dhixsingh opened #4 "Time delay before acting and during activities"
_From @osbornejr on August 22, 2018 5:32_

One simple method of making people's responses more realistic would be to add a random time buffer of 1-30 minutes **before** each plan is executed. This has a number of benefits:

* it implicitly distributes response time to messages. Agents would continue to enact their prior plan, and hence not everyone would depart immediately after a message is relea

[2018-09-17 02:02] dhixsingh opened #5 "Awareness of distance from fire"
_From @osbornejr on August 22, 2018 4:49_

Currently it is common for agents who are not in direct danger to evacuate to the instructed place of evacuation on a route that takes them closer to the danger, and also adds to congestion.
Another possibility is that their chosen place of evacuation takes them _closer_ to the fire than if they had just stayed put.
This may be a consequence of blanket me

[2018-09-17 02:02] dhixsingh opened #6 "Include fire front in disruption model"
_From @osbornejr on August 22, 2018 4:48_

The fire shapefile creates penalties which prevent agents from routing through or near the fire front. There may be some ongoing issues with this process (@dhixsingh #36), but this may not cover all cases.  Even when combined with the threshold model (see #47), it is possible for an agent to

* have a high warning threshold i.e. continue with daily plan
a

[2018-09-17 02:02] dhixsingh opened #7 "Update BDI agent attributes"
_From @osbornejr on August 22, 2018 2:15_

A few more things need to be specified in the
`<person>`
     `<attributes>...`
section of the `scenario_matsim_plans.xml`.

Firstly,  `getProbHomeAfterDependents()` and `getProbHomeBeforeLeaving()` should be exposed here, so that they can vary from person to person (and subgroup to subgroup).

Secondly, the `EvacLocationPreference` and `InvacLocationPref

[2018-09-17 02:02] dhixsingh commented on #7
Unfortunately there is no way to do that last one. A MATSim activity tag like this one `<activity type="beach" x="794920.60169" y="5772690.71159" end_time="16:02:00" />` cannot have a description assigned to the type. The only way to say that `beach` is `Anglesea Beach` for intance, is via some attribute tag like `beachDescription` but that would not be a good idea as it would be easy to mess this

[2018-09-17 02:02] dhixsingh commented on #7
Parameters `getProbHomeAfterDependents()` and `getProbHomeBeforeLeaving()` are now exposed as of f8222a4. See below:
https://github.com/agentsoz/bdi-abm-integration/blob/f8222a474ce91025a2c29880bd8d33ec2555fd35/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_matsim_plans.xml#L43-L44

@osbornejr you can now adjust these as needed for the hand-crafted test `SurfCoas

[2018-09-17 02:02] dhixsingh commented on #7
_From @osbornejr on August 23, 2018 5:39_

Thanks. I am thinking with `getProbHomeAfterDependents()` and `getProbHomeBeforeLeaving()` that they should not be a probability for each agent, but a true/false condition which is determined during attribute assignment based on some overall probability for their subgroup type.

They could even be collapsed into one attribute `WillGoHome`, because the fir

[2018-09-17 02:02] dhixsingh commented on #7
Yes that is a much better scheme @osbornejr. Have now implemented what you suggested in agentsoz/bdi-abm-integration@db4cd19. Now [looks like this](https://github.com/agentsoz/bdi-abm-integration/blob/db4cd19e4512fa4717cfe2892f37f348d98ff12d/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_matsim_plans.xml#L162-L163).

[2018-09-17 02:03] dhixsingh opened #8 "Improve destination choice for leave now behaviour"
_From @dhixsingh on August 18, 2018 5:19_

Currently the agent just picks the preferred evacuation location that either comes from the population initialisation as below,
https://github.com/agentsoz/bdi-abm-integration/blob/0c76c954b4e299e8ba2810bd5f2fa9717d952ddf/examples/bushfire/scenarios/surf-coast-shire/population-subgroups-sample/scenario_matsim_plans.xml#L29

Or recommended in the emergency

[2018-09-17 02:03] dhixsingh commented on #8
_From @osbornejr on August 22, 2018 5:6_

It is becoming clear that this LeaveNow choice will be complicated, and should depend on
* distance from fire (and is the agent going closer to danger? see #64)
* distance from current location
* a ranked list of preferences. These will reflect the places of refuge that an agent is aware of. See #62.
* message content (if any) that determines the best cour

[2018-09-17 02:04] dhixsingh opened #9 "Change PhoenixFireModel to use Grid output as well as ISO"
_From @dhixsingh on August 14, 2018 23:44_

For the fire, the ISO files are probably not the ones we should be using given that they are smoothed outputs of the Phoenix run. We should switchover from ISO to Grid Phoenix output for the fire instead. That will mean that the visual of the fire over the landscape will look "blocky", but it is infact the more accurate output and what is used for analys

[2018-09-17 02:05] dhixsingh opened #10 "Implement on-the-road BDI behaviours"
_From @dhixsingh on August 1, 2018 21:41_

As per:
![gor behaviours _ 31 jul 2018 4](https://user-images.githubusercontent.com/7893676/43550549-49bb22d6-9627-11e8-8bbf-930e0e474113.png)

_Copied from original issue: agentsoz/bdi-abm-integration#48_

[2018-09-17 02:05] dhixsingh commented on #10
This should also include the `leave now` plan which is not implemented yet (see #45).

[2018-09-17 02:05] dhixsingh commented on #10
Now dependent on #57, since we need the ability to abort a committed BDI `drive_to` action when we hit a road block etc.

[2018-09-17 02:05] dhixsingh commented on #10
Things to work out:

1. What happens if someone is driving as part of initial response, and while on the road the final response is breached? Will depend on what higher level plan they are doing, and might vary by person type.

1. What happens if one of the GotoHome/Dependents/EvacPlace/InvacPlace actions does not succeed (due to road block etc.). Probably the agent should re-try N times (based on

[2018-09-17 02:05] dhixsingh commented on #10
_From @osbornejr on August 22, 2018 5:16_

Another important aspect of on-the-road behaviours is how the different subgroups reroute. We should ensure that `Resident` and `ResidentPartTime` agents use the shortest route, whereas `VisitorRegular`,`VisitorOvernight` and `VisitorDaytime` agents only prefer main roads. The `Resident_` and `Visitor_` prefixes could be used as a higher level  distinctio

[2018-09-17 02:05] dhixsingh commented on #10
Moving to next milestone as this requiers a longer discussion.

[2018-09-17 02:05] dhixsingh opened #11 "Move MATSim config files from v1 to v2"
_From @dhixsingh on August 1, 2018 2:48_

Most of the matsim config .xml files in `examples/bushfire/*` use DTD [config version 1](http://www.matsim.org/files/dtd/config_v1.dtd). These should all be updated to [config version 2]http://www.matsim.org/files/dtd/config_v2.dtd).

MATSim otherwise generated the following warning at runtime:

`WARN ConfigReaderMatsimV1.java:58 using deprecated config ve

[2018-09-17 02:05] dhixsingh opened #12 "Fix coordinate system used in EES"
_From @dhixsingh on May 15, 2018 22:28_

There are various sources of GIS information used in the EES and the projection used can vary quite a lot. At the moment, we try and convert things to `latlon` and/or `utm`, which is old legacy code and too vague.

1. The simulation should have a global CRS setting, so that everything can be projected to that reference system as needed. This should go in th

[2018-09-17 02:05] dhixsingh opened #13 "Add query_percept to get list of all agents in an area"
_From @dhixsingh on April 17, 2018 22:41_

The query_percept should allow the BDI system to query MATSim for a list of all agents that are located within a given polygon area. The use case is to allow messages to be sent to agents within a arbitrary polygon area (see #31).

Add a test that demonstrates a staged evacuation, such that the `Fire Alert`  message is sent to two groups of agents (split

[2018-09-17 02:05] dhixsingh opened #14 "Reported travel time in EES results page is incorrect"
_From @dhixsingh on April 9, 2018 5:12_

The following auto-generated graph for the simulated evacution from Fryerstown to Chewton, shows incorrect times on the x-axis:
![traveltimeinmins](https://user-images.githubusercontent.com/7893676/38480310-408f7c6c-3c08-11e8-95be-f610880dfe35.png)

Verified that the time being shown in the graph is what was extracted into the analysis CSV.  So there seems

[2018-09-17 02:05] dhixsingh opened #15 "testCastlemaine1000 results are non-deterministic"
_From @dhixsingh on March 6, 2018 3:17_

Picking up from where #8 left. The results for the congestion test [`testCastlemaine1000`](https://github.com/agentsoz/bdi-abm-integration/blob/6a015b53a7e4718eed75929d024ad8e3f9b76596/examples/bushfire/src/test/java/io/github/agentsoz/ees/Castlemaine1000Test.java#L25) are non-deterministic.

The differences are in the number and timing of :
1) activity sta

[2018-09-17 02:06] dhixsingh commented on #15
_From @osbornejr on March 23, 2018 7:6_

Checks fail on the two Torquay tests, potentially for a similar reason (threading). _May_ be due to other issue but it is very hard to determine when they give different output each time, so I will wait until this is resolved in any case.

[2018-09-17 02:06] dhixsingh commented on #15
_From @kainagel on August 10, 2018 12:54_

Is this still an issue?  I haven't seen nondeterminism in the test outputs now for some time, but maybe this one here is switched off?

[2018-09-17 02:06] dhixsingh opened #16 "Update EES results page"
_From @dhixsingh on February 22, 2018 5:48_

Decide what information should be presented on the results page, in what format, and in what order. For instance, egress information should likely be prominent and centre stage, along with the safeline graphs.

To be done in consultation with the Northern Cluster Shires Working Group.

_Copied from original issue: agentsoz/bdi-abm-integration#20_

[2018-09-17 02:06] dhixsingh opened #17 "Add BDI config section in EES xml"
_From @dhixsingh on February 5, 2018 23:29_

There are various behavioural aspects of BDI agents that users would likely want to configure. These are currently done in the jill config at the moment, such as in:

https://github.com/agentsoz/bdi-abm-integration/blob/27e7718a37ff4a2a58b1afcc2f4ba835da04cbbf/examples/bushfire/src/test/java/io/github/agentsoz/ees/Maldon100WithEmergencyVehiclesTest.java

[2018-09-17 02:06] dhixsingh opened #18 "Maintain explicit map for converting between MATSim and BDI agent IDs"
_From @dhixsingh on January 21, 2018 22:13_

Currently, MATSim population IDs must follow the series `0,1,2,3,...` since these are mapped directly to Jill IDs that are created that way. This is not very flexible, and what we would like is to maintain an explicit map for converting between MATSim and Jill IDs.

This is also required for agentsoz/bdi-abm-integration#13.

Something that starts to do

[2018-09-17 02:06] dhixsingh opened #19 "Threading issue with BDI action/percept interaction with MATSim"
_From @dhixsingh on January 21, 2018 21:20_

Occurred on [Travis build 387](https://travis-ci.org/agentsoz/bdi-abm-integration/builds/331360169) running `master` commit 181b4900e05a10d9adeae2bb650e3be92f841938.

**When I re-ran the build on Travis it passed!** So this is very much a threading problem.

/cc @kainagel

[code]

_Copied from original issue: agentsoz/bdi-abm-integration#12_

[2018-09-17 02:07] dhixsingh commented on #19
Attempt at a fix is in commit b8806c03b968ae2aca3923e4c4b402bd5642643b. For now, we just skip the DRIVETO handler function if we get a problem case.

The log now has the get following error for information:
[code]
The agent seems to finish successfully (around `6:31pm`), despite the condition above:
[code]

[2018-09-17 02:07] dhixsingh opened #20 "Web visualiser for EES"
_From @dhixsingh on January 18, 2018 6:27_

The new embedded visualiser should use this open-source project http://webvis.janeklaudan.de/.

Coordinate with @kainagel when we start on this.

_Copied from original issue: agentsoz/bdi-abm-integration#11_

[2018-09-17 02:07] dhixsingh commented on #20
@kainagel also sent this, as it may be of interest:  https://protect-au.mimecast.com/s/44GXBwSeZbJVu1?domain=github.com.

[2018-09-17 02:07] dhixsingh opened #21 "Evacuation departures are likely long tailed, not normally distributed as currently implemented"
_From @dhixsingh on January 18, 2018 5:6_

The UI for specifying departures currently looks like this:

![screenshot from 2018-01-18 15 57 10](https://user-images.githubusercontent.com/7893676/35081453-5ab74640-fc68-11e7-879a-302497393062.png)

Agreed to add a third user input parameter to indicate the *time of last person leaving*. A long tailed distribution like that shown in the example below c

[2018-09-18 01:04] osbornejr opened #22 "Select dependent location based on locality"
Currently in [BDI_attributes.R](
      ees/scenarios/surf-coast-shire/data/synthetic-population/plan-algorithm/BDI_attributes.R
    ) the location for a dependent is selected randomly from within a 20 km radius of the agent's home. This should be updated to use the same locality method that the plan algorithm uses.

Ideally this can also happen for invac and evac options, i.e. invac options are al

[2018-09-18 01:06] osbornejr opened #23 "Create realistic summer weekday population with Surf Coast Shire Council"
The task is to update examples/bushfire/scenarios/surf-coast-shire/data/synthetic-population/plan-algorithm/typical summer weekday/* input files so that they more accurately reflect the population and its activities on a typical summer weekday. To be done together with Surf Coast Shire Council.

Part of the task is also to calibrate traffic flow at key locations based on available traffic counts f

[2018-09-18 01:09] osbornejr commented on #23
Need to get traffic flow information from SCS and manipulate the input distributions to try and match the observed flows, whilst still maintaining reasonable daily plan structures.

[2018-09-19 22:04] dhixsingh opened #24 "Update emergency messages to official warnings"
The emergency messaging used should be updated to the official warnings as per below:

![emv-warnings](https://user-images.githubusercontent.com/7893676/45784340-aba5cf00-bcab-11e8-9d4a-2973ab0c3a3d.png)

[2018-09-20 22:32] dhixsingh commented on #20
Webvis is here now it seems: https://gitlab.tubit.tu-berlin.de/janek.laudan/webvis-client

[2018-11-07 00:17] dhixsingh commented on #1
Also move the evacuation related code in the BDI-ABM util package here: https://github.com/agentsoz/bdi-abm-integration/tree/master/util/src/main/java/io/github/agentsoz/util

[2018-11-12 01:23] dhixsingh commented on #2
@osbornejr when you get the chance can you check if this is still an issue?

[2018-11-12 01:25] dhixsingh commented on #3
@osbornejr could you check if this is an issue still or if this is resolvevd in the more recent BDI behaviour changes?

[2018-11-12 01:28] dhixsingh commented on #4
* We should at the same time also add a time duration for new inserted activities in the plan, such as going home before leaving, or going to dependents.

[2018-11-12 01:51] dhixsingh commented on #6
This is resolved since 7222235, as all agents now replan when close to the fire, irrespective of their intention. This applies not just to the BDI agents and the cases above, but also to pure MATSim agents.

[2018-11-12 01:57] dhixsingh commented on #9
Available since 8ea4e50.

[2018-11-12 01:57] #9 closed

[2018-11-12 02:01] #7 closed

[2018-11-12 02:03] dhixsingh commented on #11
@osbornejr is this done now?

[2018-11-12 02:08] dhixsingh commented on #13
Zone based messaging has been working for a while and at least since 3f064f5 there is a dedicated test `SurfCoastShirePopulationSubgroupsIT` for zone based staged evacuation.

[2018-11-12 02:12] dhixsingh commented on #13
Note that there is no query_percept for this, but it is done through the interaction betwen the disruption and MATSim models. The code (in `MATSimModel.java`) can easily be refactored and made available through the query_percept interface if required, but am closing for now as there is no immediate need for that.

[2018-11-12 02:12] #13 closed

[2018-11-12 02:14] dhixsingh commented on #14
We are working on the new EES interface ([agentsoz/ees-ui](https://github.com/agentsoz/ees-ui)) and any UI related issues will be dealt with there.

[2018-11-12 02:14] #14 closed

[2018-11-12 02:56] dhixsingh commented on #15
The latest test in question is here: https://github.com/agentsoz/ees/blob/3207fdb7675dc0957d411faf8cfa78458e025a9b/src/test/java/io/github/agentsoz/ees/Castlemaine1000Test.java

Am closing this as I have not seen any issues for a while now. Also the recent overhaul of the BDI-ABM interaction (agentsoz/bdi-abm-integration#12) has meant that a lot of threading issues are resolved.

[2018-11-12 02:56] #15 closed

[2018-11-12 02:58] dhixsingh commented on #16
We are working on a new EES web interface, and all UI issues will be dealt with in the `agentsoz/ee-ui` repository.

[2018-11-12 02:58] #16 closed

[2018-11-12 03:06] dhixsingh commented on #17
Available at least since 3f064f5. Example BDI configuration is here:

https://github.com/agentsoz/ees/blob/3f064f5ed231485729005c37b511cc9e2fa844bb/scenarios/surf-coast-shire/population-subgroups/ees.xml#L44-L57

Agent specific configuration is done directly through the MATSim population file, for instance:
https://github.com/agentsoz/ees/blob/3f064f5ed231485729005c37b511cc9e2fa844bb/scenarios/sur

[2018-11-12 03:06] #17 closed

[2018-11-12 03:17] dhixsingh commented on #21
There is a more nuanced behaviour response model now (see agentsoz/bdi-abm-integration#45 and agentsoz/bdi-abm-integration#47) that dictates when people leave. This simplified idea of incorporating departure timings is outdated so am closing this now.

[2018-11-12 03:17] #21 closed

[2018-11-12 03:19] dhixsingh commented on #22
@osbornejr is this done now?

[2018-11-12 03:43] dhixsingh commented on #20
Closing here and tracking in agentsoz/ees-ui#8.

[2018-11-12 03:43] #20 closed

[2018-11-13 02:29] dhixsingh opened #25 "Dataserver should auto-publish time on stepTime()"
In the main simulation loop below,

https://github.com/agentsoz/ees/blob/7ada628c6dffc1b1e5b90915582b2ea3ec2e7321/src/main/java/io/github/agentsoz/ees/Run.java#L147-L165

time is published to models in a separate external call. It should instead be part of the `stepTime()` call, ie, not optional.

[2018-11-13 02:45] dhixsingh opened #26 "Allow simulation time step to be configured"
Currently there is no way to configure the timestep granularity for the EES simulation. It defaults to 1 second, i.e, each simulation loop corresponds to 1 second of simulated time. However, most models including `MATSimModel` allow this to be configurable. It would be nice to make this a parameter in the simulation config file so that it could be set to say 60 secs which might be sufficient for t

[2018-11-13 02:47] dhixsingh commented on #25
Fixed in 50229c6.

[2018-11-13 22:14] osbornejr commented on #22
No, this has not changed from the random selection process. Will do this when I update the algorithm to work with the latest locations data+format from SCSC, because both the dependent and the invac/evac location choices should depend on locality.

[2018-11-14 03:38] #26 closed

[2018-11-15 04:52] dhixsingh commented on #26
Also attaching some quick analysis of timestep vs runtime using

https://github.com/agentsoz/ees/blob/3207fdb7675dc0957d411faf8cfa78458e025a9b/src/test/java/io/github/agentsoz/ees/SurfCoastShirePopulationSubgroupsIT.java#L48-L54

with the timestep varied here

https://github.com/agentsoz/ees/blob/1677ec07793ffa777ec3e7f5dbd098a72d552aab/scenarios/surf-coast-shire/population-subgroups/ees.xml#L46

[2019-01-24 03:14] dhixsingh opened #27 "Add support for custom routing algorithms"
We want to be able to try different routing algorithms in place of the [routing algorithms provided by MATSim](https://github.com/matsim-org/matsim/blob/0.10.x/matsim/src/main/java/org/matsim/core/config/groups/ControlerConfigGroup.java#L40).

[2019-01-24 03:51] dhixsingh commented on #27
Available since 55ac705. There is now a new routing algorithm in the `io.github.agentsoz.ees.matsim.router` package that does nothing useful and is there mainly to be used as a template for new algorithms:
https://github.com/agentsoz/ees/blob/7c827b105058879ca0acf9c1b1679841cbd23b66/src/main/java/io/github/agentsoz/ees/matsim/router/ExampleRoutingAlgorithm.java#L51-L56

Any new routing algorithms

[2019-01-24 03:51] #27 closed

[2019-02-24 22:59] dhixsingh opened #28 "Set up road accident for SocialNetworkExperiments50kIT test"
Set up an accident (disruption) on Grossmans Road on the section between Duffields Rd and Messmate Rd as shown below. The relevant links are:
* `12340-12338-12336-12334-12332`
* `12331-12333-12335-12337-12339`

<img width="1080" alt="screen shot 2019-02-25 at 9 53 38 am" src="https://user-images.githubusercontent.com/7893676/53306598-579ab880-38e3-11e9-9e44-0331a19ce54a.png">

The traffic volumes

[2019-03-05 22:48] dhixsingh opened #29 "NextLinkBlockedEvent not propagating for all impacted agents"
MATSim generates a [`NextLinkBlockedEvent`](https://github.com/agentsoz/bdi-abm-integration/blob/427ace6572aacf227ab540e61c3648865737e2c6/integrations/bdi-matsim/src/main/java/io/github/agentsoz/bdimatsim/NextLinkBlockedEvent.java) for cases where the link that the agent is about to enter is blocked (typically set up via a network change event).

The event then triggers the [`EventsMonitorRegistry

[2019-03-06 05:22] dhixsingh commented on #29
Interestingly after adding code that allows agents blocked (in commit f224169) during their daily activities to replan, all agents 0-3 are now getting the `NextLinkBlockedEvent` event as expected.

[2019-03-06 05:36] dhixsingh commented on #28
@chambul a basic test showing agents replanning if blocked while doing daily plans is now ready since 6e90460. See:
https://github.com/agentsoz/ees/blob/4de2280bbbed8a09583f5b7a011c2a55e924f2b5/src/test/java/io/github/agentsoz/ees/SituationAwarenessTest.java#L47-L54

[2019-03-09 02:01] osbornejr commented on #23
Still need to get traffic count data from Pete to validate/improve the synthetic population's plans.

[2019-03-09 02:06] osbornejr commented on #22
The dependent location is still selected randomly within a 20km radius of the agent's `home`.

Would perhaps be improved with more dynamic dependent assignment (via the archetypes), but closing now because this would require more data/information.

[2019-03-09 02:06] #22 closed

[2019-03-12 06:30] osbornejr commented on #11
This hasn't happened yet, should be an easy switch though- I can do it when I am on my other laptop.

[2019-03-12 06:35] osbornejr commented on #2
I think this is only assigned to me because I created the original issue in the older repository? In any case, it is something to look out for I would say, rather than something that can be tested concretely.

[2019-03-12 06:37] osbornejr commented on #2
I won't close in case you do need this original issue, but it looks like there has been some progress on fixing it in any case?

[2019-03-12 06:39] osbornejr commented on #3
As in #2 I don't know if this is something that I could test for confidently, rather it is something that needs to be looked out for in outputs? Particularly in this case, there could be some kind of check/warning posted if an agent with dependent does skip their InitialResponse?

[2019-03-12 23:22] osbornejr commented on #11
Fixed as of 4d9e28c444540fc1839c086de6877e8071c987df.

[2019-03-12 23:22] #11 closed

[2019-04-30 03:28] dhixsingh opened #30 "Allow agents to register for available percepts"
In #28, we implemented a mechanism to allow agents to receive [`BLOCKED`](https://github.com/agentsoz/ees/blob/c620b490cd92ad5838048aaa4fa018d986a467f2/src/main/java/io/github/agentsoz/ees/PerceptList.java#L27) percepts outside of BDI actions. This should be extended to allow agents to register for any available percept, including [`CONGESTION`](https://github.com/agentsoz/ees/blob/c620b490cd92ad5

[2019-04-30 06:42] dhixsingh commented on #30
Available since cf55531 athough there is no dedicated test for it yet. /cc @chambul

[2019-05-20 01:17] dhixsingh commented on #29
This problem still exists. To reproduce, run the `SocialNetworkExperiments50kBaselineIT` integration test as follows:
[code]

Then get the unique links on which the `nextLinkBlocked` events are generated:
[code]

Now if we look at the number of unique persons for which the event was generated on say link `11209`:
[code]

And compare this to the number of unique persons that entered that link:
[cod

[2019-05-23 06:38] dhixsingh commented on #19
This is more than a year old now. Closing it since none of the large tests produce any errors of this kind anymore; mostly these issues are fixed.

[2019-05-23 06:38] #19 closed

[2019-05-23 06:41] #28 closed

[2019-05-23 06:41] #30 closed

[2019-05-24 16:38] kainagel commented on #29
Am unfortunately in a train without electricity, so cannot compile and run, sorry.  The NextLinkBlockedEvent is actually potentially generated at _two_ places, if you check for it.  Could you please check if both of them are in the execution path/triggered?  In particular, I could imagine that something overwrites the QNetworkFactory again at some later point in time.  This should also be traceabl

[2019-05-28 01:37] dhixsingh opened #32 "Tidy up diffusion model logs"
Currently any test that uses the diffusion model such as below,

https://github.com/agentsoz/ees/blob/3f42aafc4cf172de6f8227577b84d9ae37268b45/scenarios/surf-coast-shire/population-subgroups-sample/ees.xml#L96-L100

creates `diffusion.log` and `diffusion.out` output files in the repository root.

[`DiffusionModel`](https://github.com/agentsoz/ees/blob/e944f2934ffe6f35f716b671ad4f8715f12da75b/src/m

[2019-05-29 11:31] dhixsingh commented on #29
I can confirm that it is triggered ok in both places. Have also moved to MATSim 11.0 here and in the BDI-MATSim repo.

Will continue debugging to try and narrow it down.

[2019-05-29 21:53] dhixsingh commented on #29
@kainagel some more information on this:

What seems to be happening is that at some point in time two cars get stuck around the blocked links `11206` and `11207`. These are shown in red below:
![11206-7](https://user-images.githubusercontent.com/7893676/58593071-5647a600-82ad-11e9-9510-bf7d77ad1323.jpg)

The two red cars did this towards the end:
[code]

From the time the cars got stuck, all foll

[2019-05-30 10:16] kainagel commented on #29
Thanks a lot for finding a failing agent, that made it a lot easer.  I added some debugging output to the code.  You can checkout `kaibranch` both on `ees` and on `bdi-abm-integration`, and run `SocialNetworkExperiments50kBaselineIT`.  Note that I also set the endTime to 2.5*3600 so it is stopping much earlier.  But the error is before that.

At some point I get
[code]
This means (1) that the next

[2019-05-31 01:58] dhixsingh commented on #29
Thanks Kai, your log shows the problem.

Agent `30582` first hits the blockage much earlier at `time=1900` and handles it fine by replanning (it actually gets two `nextLinkBlocked` events one after the other but one is sufficient to trigger the replanning):
[code]
The first  `retVal=true` above tells us that the blockage was addled fine, and the second`retVal=false` tells us that the blockage moni

[2019-05-31 02:31] dhixsingh commented on #29
Now that I know the problem, it is much easier to reproduce it. I've added a new test in 20758e8 that produces the problem on the simpler equil network:
https://github.com/agentsoz/ees/blob/20758e89cd0a13ef41cc191654a87b137d2a52dd/src/test/java/io/github/agentsoz/ees/BlockageEquilTest.java#L45-L51

In this test there are 3 agents who all have a daily plan `home->work->home->work->home`, and who al

[2019-05-31 03:52] chambul commented on #32
@dhixsingh Done. You can find the pull request here: https://github.com/agentsoz/ees/pull/33

[2019-05-31 07:32] dhixsingh commented on #29
This is now fixed since db07baf. @kainagel thanks so much for your help with this. There are no more stuck agents and the total number of agents receiving the `nextLinkBlocked` event is 16k+:
[code]
/cc @chambul.

[2019-05-31 08:13] kainagel commented on #29
Glad to hear that.  Should I remove/delete this specific "kaibranch" (which I should have named differently in the first place, sorry)?

[2019-05-31 08:28] dhixsingh commented on #29
Yes that branch can be deleted now, thanks.

[2019-05-31 08:42] kainagel commented on #29
Is there some test that I can run to trigger this?  Presumably, you have already told me, sorry ...  I should have some time on friday.

[2019-05-31 10:30] dhixsingh commented on #29
Yes I put the info on the new simpler test that reproduces the problem in the comment with the animated gif. The test passes now.

[2019-06-02 23:57] dhixsingh commented on #29
All tests are enabled and [working on Travis](https://travis-ci.org/agentsoz/ees/builds/540510777) since 5756d6f.

[2019-06-02 23:57] #29 closed

[2019-06-03 23:19] dhixsingh opened #34 "Implement self-evacuation archetypes behaviours"
See [Self-evacuation archetypes in Australian bushfire](https://www.sciencedirect.com/science/article/pii/S2212420917303060).

[2019-06-05 01:06] dhixsingh opened #35 "Support changing of log level at runtime"
EES uses [`logback.xml`](https://github.com/agentsoz/ees/blob/36fc8c667dc23228dd02f801bdc03ffebabba07a/src/main/resources/logback.xml) for logging, and the included MATSim library uses [`log4j.xml`](https://github.com/agentsoz/ees/blob/36fc8c667dc23228dd02f801bdc03ffebabba07a/src/main/resources/log4j.xml).

We would like to be able to easily adjust the logging levels at runtime using user supplied

[2019-06-05 01:11] dhixsingh opened #36 "Tests fail intermittently on Travis"
For instance [Build 273](https://travis-ci.org/agentsoz/ees/builds/541441362) shows failure at the moment. Restarting the build on Travis from the web UI seems to make it pass magically.

[2019-06-05 01:53] #32 closed

[2019-06-11 06:43] dhixsingh commented on #36
`SituationAwarenessTest` also fails intermittently, see [Build 281](https://travis-ci.org/agentsoz/ees/builds/543034292).

[2019-06-11 22:54] dhixsingh opened #37 "Run should operate on generic models"
At the moment the `Run` class holds explicitly named instances of different models. This should be standardised into list of Models on which the init/step/finish should be called.

As part of this we also want to allow users applications to swap out default models with their own. This has become apparent in the social network diffusion work.

[2019-06-12 21:05] dhixsingh commented on #37
There is now an interim mechanism to override models using the `withModel` function. Example usage is below:
https://github.com/agentsoz/ees/blob/a82f09403e644013728515fc040079dedba88689/src/main/java/io/github/agentsoz/ees/Run.java#L80-L83

/cc @chambul

[2019-06-18 05:51] dhixsingh opened #38 "Fire/Embers data not propagating correctly to agents"
Fire/embers shape data is processed by `MATSimEvacModel` when it is first received:
https://github.com/agentsoz/ees/blob/b491885c2ccac521c8623390f9e64c08e58004f5/src/main/java/io/github/agentsoz/ees/matsim/MATSimEvacModel.java#L194-L199

At this point, all persons within the shape (computed using [`getPersonsWithin`](https://github.com/agentsoz/ees/blob/b491885c2ccac521c8623390f9e64c08e58004f5/src

[2019-06-18 06:05] dhixsingh commented on #38
The following test shows the issue:
https://github.com/agentsoz/ees/blob/6352f0ee4a36e46779713e536f435b41ad464296/src/test/java/io/github/agentsoz/ees/agents/archetype/ArchetypeAgentTest.java#L48-L56

[2020-05-12 04:41] dhixsingh commented on #2
This issue is now outdated. The model now uses an updated behaviour model based on self-evacuation archetypes (see `archetype` dir vs older `bushfire` dir [here](https://github.com/agentsoz/ees/tree/e7033fe16c92f62a2ecbaf02b3fb735c7ecf2172/src/main/java/io/github/agentsoz/ees/agents)).

[2020-05-12 04:41] #2 closed

[2020-05-12 04:41] dhixsingh commented on #3
This issue is now outdated. The model now uses an updated behaviour model based on self-evacuation archetypes (see `archetype` dir vs older `bushfire` dir [here](https://github.com/agentsoz/ees/tree/e7033fe16c92f62a2ecbaf02b3fb735c7ecf2172/src/main/java/io/github/agentsoz/ees/agents)).

[2020-05-12 04:41] #3 closed

[2020-05-12 04:42] dhixsingh commented on #4
This issue is now outdated. The model now uses an updated behaviour model based on self-evacuation archetypes (see `archetype` dir vs older `bushfire` dir [here](https://github.com/agentsoz/ees/tree/e7033fe16c92f62a2ecbaf02b3fb735c7ecf2172/src/main/java/io/github/agentsoz/ees/agents)). The new model includes a time delay before reaction.

[2020-05-12 04:42] #4 closed

[2020-05-12 04:44] #34 closed

[2020-05-12 04:48] dhixsingh commented on #24
Is available and used in the self-evacuation archetypes based behaviour model now:
https://github.com/agentsoz/ees/blob/7106aca63e7512650e42d791d107abdfc16977f2/src/main/java/io/github/agentsoz/ees/Constants.java#L79-L84

[2020-05-12 04:48] #24 closed

[2020-05-12 04:49] dhixsingh commented on #23
A side project is underway for this now, so won't track it here.

[2020-05-12 04:49] #23 closed

[2020-05-12 04:51] dhixsingh commented on #10
Handled in the new self evacuation archetypes model now.

[2020-05-12 04:51] #10 closed

[2020-05-12 04:51] dhixsingh commented on #8
Handled in the newer self-evacuation archetypes based behaviour model now.

[2020-05-12 04:51] #8 closed

[2020-05-12 04:52] dhixsingh commented on #5
This is an issue still in the newer self-evacuation archetypes based behaviour model.

[2020-06-15 02:12] dhixsingh opened #39 "Update Surf Coast Shire populations to latest Archetypes based model"
The Surf Coast Shire tests:
https://github.com/agentsoz/ees/blob/d90fd9853d7f935d96249e975377dfb5bc72c849/src/test/java/io/github/agentsoz/ees/SurfCoastShirePopulationSubgroupsSampleTest.java#L39

and

https://github.com/agentsoz/ees/blob/40959ad90d699a84043b57a504e275daf99f8f43/src/test/java/io/github/agentsoz/ees/SurfCoastShirePopulationSubgroupsIT.java#L37

are currently disabled as they still

[2020-06-30 06:06] dhixsingh opened #40 "Cache initialised population for large input files"
Initialising 10k+ agents can take a while if they have many beliefs of high cardinality. This function for instance, takes >5 mins for the `SurfCoastShirePopulationSubgroupsIT` test:

https://github.com/agentsoz/ees/blob/814a15167cb5bd108bb1c1443c014e1159717270/src/main/java/io/github/agentsoz/ees/JillBDIModel.java#L422

One option could be to cache the initialised agents (serialise the Jill agent

[2020-07-01 06:03] dhixsingh opened #41 "Move EES to MATSim 12"

[2020-07-07 23:33] dhixsingh opened #42 "Allow PhoenixGridModel to take gzipped fire GeoJson as input"
The Phoenix fire input GeoJson files are often large, for instance [Anglesea_evac_test_ffdi104_phx5_2016data_minsup_fh2017_grid_epsg32754.json](https://github.com/agentsoz/ees/blob/45d62e1daf786db0cbb82bb4402d1b96b76ddbb0/scenarios/surf-coast-shire/population-subgroups/Anglesea_evac_test_ffdi104_phx5_2016data_minsup_fh2017_grid_epsg32754.json) which is 13.6MB uncompressed. Update [PhoenixGridModel

[2020-07-08 04:53] dhixsingh commented on #41
Now using [this MATSim 13 SNAPHOT version](https://github.com/agentsoz/bdi-abm-integration/blob/479c68830559a59c3b9a7b975ec82d6cfcb3bf55/integrations/bdi-matsim/pom.xml#L44-L45) (previous versions are incompatible).

[2020-07-08 04:53] #41 closed

[2020-07-08 04:53] #42 closed

[2020-07-08 04:58] dhixsingh commented on #39
Latest test and scenario are here:
https://github.com/agentsoz/ees/blob/0aa1de1ef4babd0d762809575bc9d3bb910a8970/src/test/java/io/github/agentsoz/ees/SCSArchetypesBasicTest.java#L50

The evacuation behaviour on the road now uses the latest behaviour model. The decision to leave is not strictly based on the seven archetypes though yet, but is just using default initial values of attitudes (averages

[2020-07-08 05:01] #39 closed

[2020-07-24 02:13] dhixsingh opened #43 "Make archetypes based test results repeatable"
Currently, runs with any more than a handful of archetypes are not repeatable. The problem comes from this line:
https://github.com/agentsoz/ees/blob/fec27473f2c266f382bf526cd466299f27962c4f/src/main/java/io/github/agentsoz/ees/agents/archetype/ArchetypeAgent.java#L231

The issue is that multiple agents could call the global random number generator out of order. The fix is to give each agent its o

[2020-07-24 02:23] dhixsingh opened #44 "Update release to use the latest archetypes based scenario"
The release build should be updated to include the [malden-example](https://github.com/agentsoz/ees/tree/5b6369c9353fe6ab282845a91e6d15542670c2c9/scenarios/mount-alexander-shire/maldon-example) scenario instead of the now outdated [maldon-600](https://github.com/agentsoz/ees/tree/5b6369c9353fe6ab282845a91e6d15542670c2c9/scenarios/mount-alexander-shire/maldon-600) scenario.

[2020-07-24 03:28] #44 closed

[2020-07-24 03:59] dhixsingh commented on #43
Getting different results on GitHub CI when I re-run the action from the UI (but works on my local machine ), so not solved yet:

Run 1:
<img width="770" alt="Screen Shot 2020-07-24 at 1 56 11 pm" src="https://user-images.githubusercontent.com/7893676/88359386-c79dbe80-cdb5-11ea-885f-8b86e1dc1170.png">

Run 2:
<img width="776" alt="Screen Shot 2020-07-24 at 1 48 32 pm" src="https://user-images.git

[2020-07-24 04:09] dhixsingh opened #45 "Tidy up tests"
The are a fair few outdated and ignored tests that can be removed along with the related expected outputs for those.

[2020-07-24 06:45] dhixsingh opened #46 "Use agentsoz dependencies as submodules"
Currently the build can break if one of the agenstoz dependency repositories is updated. To prevent that, those repositories should be included as submodules so that there is better control on the versions being built and included.

[2020-08-13 12:15] danhphan commented on #46
Hi @dhixsingh
I have tried to build this ees project as the guidline. At this step: mvn package, it show this error:

[INFO] Downloading: https://repo.maven.apache.org/maven2/org/codehaus/mojo/license-maven-plugin/2.0.0/license-maven-plugin-2.0.0.jar
[INFO] Downloaded: https://repo.maven.apache.org/maven2/org/codehaus/mojo/license-maven-plugin/2.0.0/license-maven-plugin-2.0.0.jar (503 KB at 560.5

[2020-08-13 22:48] dhixsingh commented on #46
@danhphan you mention that you are using maven `3.3.9`, and your error message says

[code]

So yes that would suggest you should update your maven version.

I have also updated the CI script to test on `ubuntu-20.04` (with `Java 11.0.2` and `Maven 3.6.3`) and it builds and runs ok (see [log](https://github.com/agentsoz/ees/runs/982576433)).

[2020-08-14 03:38] captainnemo2005 commented on #46
Probably your submodule download has some prob.
Pls delete the folder and start the process again and it will work nicely.
Thanks @dhixsingh  for your quick reply

[2020-08-14 05:11] danhphan commented on #46
Thanks @dhixsingh and @captainnemo2005

I change to Maven 3.6.3 (java 11 on ubuntu 20.04) and it builds sucessfully now.

Best regards,

Danh

[2021-02-18 21:57] dhixsingh opened #48 "Generate evacuation metrics output file"
Generate a custom evacuation metrics output file at the end of a simulation. This to avoid having to post-process large MATSim output event files which is resource intensive.

[2021-02-19 00:02] dhixsingh commented on #48
This is now available. The evacuation metrics can now be enabled through the simulation config file as follows:
https://github.com/agentsoz/ees/blob/d9d70952d9ce3607bd6083c7300d7ec778ae0ed7/ees/scenarios/mount-alexander-shire/maldon-600/ees.xml#L41-L44
The two parameters specify the location for the output file as well as the size of the time bin (in secs) to compute metrics over (so `3600` would

[2021-02-23 00:29] alexandritegalle commented on #48
<img width="643" alt="Screen Shot 2021-02-23 at 11 28 31 am" src="https://user-images.githubusercontent.com/18023439/108787663-4cf68500-75ca-11eb-8608-f21016516438.png">
@dhixsingh is it possible to write this inifinity value as a String ?

[2021-02-23 03:29] dhixsingh commented on #48
Available since  a671232 @alexandritegalle. The generated JSON is now fully compliant. The Z values are all set to zero now by default (see below) so the JSON should parse correctly now.

https://github.com/agentsoz/ees/blob/a6712323ba5b45f1d1f1d9daebe3a277c984cab0/ees/test/input/io/github/agentsoz/ees/Maldon600Test/test/metrics.json#L5-L7

[2021-02-23 21:19] alexandritegalle commented on #48
@dhixsingh Great! Thanks

[2021-02-25 01:15] alexandritegalle commented on #48
@dhixsingh could you also output the capacity of the link in metric.json?

[2021-02-25 05:16] dhixsingh commented on #48
Available since 10014b5 @alexandritegalle:

https://github.com/agentsoz/ees/blob/10014b5ce7d1b53950abb848eb24dce8330af07a/ees/test/input/io/github/agentsoz/ees/Maldon600Test/test/metrics.json#L3-L20

[2021-02-25 05:36] dhixsingh commented on #48
Available since d8ede27 @alexandritegalle:

https://github.com/agentsoz/ees/blob/d8ede27e3b3258c820c547c3ac91b1ae4db64147/ees/test/input/io/github/agentsoz/ees/Maldon600Test/test/metrics.json#L3-L20

[2021-02-27 05:59] alexandritegalle commented on #48
Great !

[2021-03-25 23:33] dhixsingh commented on #48
Include the following basic metrics in the output:
- Average speed metric
- Link volume utilisation metric
- Stationary vehicles metric (people doing activities)

[2021-04-20 04:28] dhixsingh commented on #48
Since 606d1d9 point-in-time metrics are generated from the BDI model; see [Maldon example output metrics](https://raw.githubusercontent.com/agentsoz/ees/606d1d92d0e0780c9c3672dfd981917532e35bb9/ees/test/input/io/github/agentsoz/ees/agents/archetype/MaldonExample/test/archetype.metrics.json).

Note however that since these metrics are generated from the BDI side, there is little insight into the MA

[2021-04-21 11:13] dhixsingh opened #49 "MATSim agents in stuckAndAbort not properly handled"
MATSim agents that enter the `stuckAndAbort` state are removed from the list of active agents in `qsim`. This can cause all kinds of side effects if those agents have BDI counterparts. This is because the BDI code assumes that the MATSim counterpart configured at startup will always be available for the duration of the simulation. If that agent suddenly becomes `null`, we end up with all kinds of

[2021-04-26 06:33] #46 closed

[2021-04-27 07:28] srodriguez opened #50 "Compilation error in jill submodule"
When compiling ees, jill submodule (0.4.1-SNAPSHOT) fails to compile.

### Environment
Apache Maven 3.8.1 (05c21c65bdfed0f71a2f2ada8b84da59348c4c5d)
Java version: 1.8.0_282, vendor: AdoptOpenJDK,
Default locale: en_AU, platform encoding: UTF-8
OS name: "mac os x", version: "10.16", arch: "x86_64", family: "mac"

[2021-04-27 07:54] dhixsingh commented on #50
@srodriguez try with Java 11. You can see the build setup we use [here](https://github.com/agentsoz/ees/blob/master/.github/workflows/ci.yml).

[2021-04-27 23:26] #49 closed

[2021-04-27 23:26] #45 closed

[2021-04-27 23:28] #38 closed

[2021-04-27 23:29] dhixsingh commented on #36
We have moved from Travis to GitHub Actions now but the issue persists.

[2021-04-27 23:29] #50 closed

[2021-05-13 22:46] dhixsingh opened #51 "Make ZoneID column name configurable"
The ZoneID column name is hardcoded and should instead be a configurable string.

https://github.com/agentsoz/ees/blob/db5de76241a873cec29675faf9962aa9a32f7930/ees/src/main/java/io/github/agentsoz/ees/MessagingModel.java#L161-L169

[2021-05-31 01:41] dhixsingh commented on #48
One issue is that in cases where agents enter `stuckAndAbort` state in MATSim, the metricsw calculation seems incorrect.

For instance, in test [`SCSMidweekInJanScenario2IT`](https://github.com/agentsoz/ees/blob/c0ff8865483a8a47e1b98ba3bd5ff792f576c340/ees/src/test/java/io/github/agentsoz/ees/agents/archetype/it/SCSMidweekInJanScenario2IT.java), on link `49705-49706-49707` the volumes reported by

[2021-07-26 00:43] dhixsingh commented on #51
Available since 2c6725c.

[2021-07-26 00:43] #51 closed

[2021-10-15 14:12] oemer95 opened #52 "[Newbie] Running mvn package"
Hi there,
I have the following output while runing "mvn package".
Could you help me please?

Thanks!

C:\Users\Marcel\git\ees>mvn package
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for io.github.agentsoz:eeslib:jar:2.1.1-SNAPSHOT
[WARNING] 'build.plugins.plugin.(groupId:artifactId)' must be unique but found duplicate declar